header{
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchHeader{
  display:grid;
  align-items: center;
  justify-items:center;
  width: 700px;
  height: 200px;
  background-color: beige;
  border-radius: 25px;

}
#welcome{
  font-size: 78px;
  margin-bottom: 0;
  margin-top: 0;
}
#searchBox{
  height:50px;
  width :350px;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: transparent;
  border-width: thick;
  border-style: solid;
  border-color: black;
  display:flex;
}
#input{
  background-color: transparent;
  border: none;
  border-radius: 25px 0 0 25px;
  text-align:center;
  width:inherit;
}
#submitBTN,#randomBTN{
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  margin:0;
  padding: 0;
}
#submitBTN:hover{
  color:#C21807;
}
#randomBTN:hover{
  color:#FFD700;
}

body{
  background-color:#C21807;
  margin: 0 0 0 0;
  height: 100vh;
  display: flexbox;
  
}
#character-container{
  padding-top: 25px;
  display:flex;
  justify-content: space-evenly;
  align-items:flex-start;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100%;
}

.profile-container{
  height: 450px;
  width :240px;
  background-color: #f5f5dc;
  border-radius: 25px;
  overflow: hidden;
  border-width: 10px;
  border-style: solid;
  border-color: black;
  align-content:start;
  text-align: center;
  flex-shrink: 0;

}
.profile-container-img{
  width: 240px;
  height: 240px;
}

.profile-container-h2{
  font-family:'Times New Roman';
  font-weight:bolder;
  background-color:#FFD700;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  border-radius: 15px;
  border-width:thick;
  border-style:solid;
  border-color:#C21807;
}
.profile-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto);
  margin: 10px;
  background-color: #FFD700;
  border-radius: 15px;
  border-width:medium;
  border-style:solid;
  border-color: #C21807;
}
.profile-list-p{
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 14px;
}

#footerDiv{
  background-color: black;
  display:flex;
  justify-content:space-evenly;
  align-content:space-evenly;
  bottom: 0;
  margin-top: 25px;
}
#footerDiv-H1{
  color: white;
  font-size: 48px;
  padding-top: 0;
  margin-top: 0;
}
#footerDiv-a{
  color: white;
  font-size: 48px;
}




